# Node.js
node_modules/

# Next.js
/.next/
/out/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
.pipenv/
venv/
env/
env.bak/
env1/
env2/

# Editor-specific files
.vscode/
.idea/

# Log files
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# JetBrains IDEs
.idea/

# Sublime Text
.sublime-project
.sublime-workspace

# Visual Studio Code
.vscode/

# Compiled Python files
*.pyc

# Compiled Java files
*.class

# Compiled C++ files
*.out

# Package files
*.tar.gz
*.zip

# Environment variables file
.env
