/* Arquivo: Header.module.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  
  
  }
  